#cabecalho{
	border: 2px solid #F3BE58;
	border-radius: 3px;
	background: #F3BE58;
	width: 900px;
	height: 200px;
}

.estrutura{
	background: #f2e9d5;
	width: 905px;
	margin: 0 auto;
}

.foto-escudo{
	width: 200px;
	border-radius: 10px;
	float: left;
}

#menu{
	text-align: center;
	background-color: #F3BE58;
	margin: 5px 0;
	padding: 5px;
}

.menu-button {
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu-button:hover {
    background-color: #DAA520;
}

.estilo-foto{
	border-radius: 100px;
	width: 905px
}

.fundo-foto{
	background-color: #F3BE58;
	border-radius: 3px;
}

span{
	margin: 10px;
	border-radius: 100px;
	color: #03395F;
	font-weight: bold;
	box-shadow: 5px 5px 5px black;
	font-size: 2.6em;
	background-color: #F3BE58;
	display: inline;
}

body{
	background-color: #f2e9d5;
}

a{
	padding: 5px;
	text-decoration: none;
	background-color: #F3BE58;
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	text-shadow: 4px 4px 5px black;
	transition: background-color 0.3s;
}

p{
	margin: 20px;
}

